* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    max-width: 100vw;
    max-height: 100vh;
    
}

body, html {
    height: 100%;
    overflow-y: hidden;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */
.header {
    background-color: #6bc1aa;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    width: 30px;
    margin-right: 10px;
}

.header .header-right {
    display: flex;
    align-items: center;
}

.header .header-right img {
    width: 20px;
    margin-left: 10px;
}

/* Main Content */
.main-content {
    display: flex;
    flex-grow: 1;
    background-color: #d2e4c7;
}



/* Sidebar */
.sidebar {
    width: 40vw;
    height: 100vw;
    background-color: #b2d1b2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Adds a vertical scrollbar when content overflows */
}

.search {
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
}

.user-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-list li {
    text-align: center;
}

.user-list img {
    width: 40px;
    border-radius: 50%;
}

/* Chat Window */
.chat-window {
    flex-grow: 1;
    background-color: #ecebb7;
    display: flex;
    flex-direction: column;
    
}

.chat-header {
    background-color: #b2d1b2;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat-header img {
    width: 40px;
    border-radius: 50%;
}

.chat-body {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    /* overflow-y: hidden; */
    overflow-x: hidden;
}

/* Footer */
.chat-footer {
    width: 60vw;
    background-color: #b2d1b2;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat-footer .emoji-btn, .chat-footer .send-btn {
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.chat-footer .chat-input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
}
